{
  "presets": ["env", "react", "stage-0"],
  "plugins": ["react-hot-loader/babel", "transform-decorators-legacy"],
  "env": {
    "test": {
      "plugins": [
        ["./babel-plugins/remove-decorators", ["root", "branch"]],
        "rewire"
      ]
    }
  }
}
